<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_ADMIN" />
		<intercept-url pattern="/dba**" access="ROLE_DBA, ROLE_ADMIN" />
		<intercept-url pattern="/user**" access="ROLE_USER, ROLE_DBA, ROLE_ADMIN" />
		
		<access-denied-handler error-page="/main/403.html" />
		<form-login login-page="/main.html" default-target-url="/main/welcome.html"
			authentication-failure-url="/main/login.html?error" username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/main/login.html?logout" />
		
	</http>

	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user" password="123456" authorities="ROLE_USER" />
				<user name="admin" password="123456" authorities="ROLE_ADMIN" />
				<user name="dba" password="123456" authorities="ROLE_DBA" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>